__pycache__
.venv/
artifacts/
experiments/n_bins/artifacts/
experiments/n_bins/plots/
experiments/n_bins/results/

experiments/bin_dist/artifacts/
experiments/bin_dist/plots/
experiments/bin_dist/results/

experiments/mappers/artifacts/
experiments/mappers/plots/
experiments/mappers/results/
